#sudo: required
#
#language: go
#
#go:
#- 1.19
#
#env:
#- GOFLAGS="-mod=readonly"
#
#before_install:
#  - sudo rm -rf /var/lib/apt/lists/*
#  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
#  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) edge"
#  - sudo apt-get update
#  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
#  - mkdir -vp ~/.docker/cli-plugins/
#  - curl --silent -L "https://github.com/docker/buildx/releases/download/v0.6.1/buildx-v0.6.1.linux-amd64" > ~/.docker/cli-plugins/docker-buildx
#  - chmod a+x ~/.docker/cli-plugins/docker-buildx
#
#after_success:
#- if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
#  make push;
#  fi
#- if [[ -n "$TRAVIS_TAG" ]]; then
#  make crossbuild release;
#  fi
